@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colour palatte */
  --white: #edf6fe;
  --blue1: #d9eafd;
  --blue2: #bcccdc;
  --blue3: #9aa6b2;

  --green: #c0d7c9;
  --emerald: #a4beae;

  --text-dark: #22252b;
  --text-hover: #33495d;
}

body {
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
ul li a {
  display: block;
  transition: 0.5s;
}

/* Apply hover effects only on screens larger than 768px */
@media (min-width: 1024px) {
  /* Hover effect: other links fade */
  ul:hover li a {
    opacity: 0.7;
  }

  /* Hover effect: hovered link scales up */
  ul li a:hover {
    color: var(--text-hover);
    transform: scale(1.2);
    opacity: 1;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
