@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colour palatte */
  --white: #fafaeb;
  --pink: #f3e4f1;
  --green: #d5ebda;
  --peach: #f4dacd;
  --rose: #ead3d4;

  --text-dark: #4a4a4a;
  --text-hover: #8b5e66;
}

body {
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
ul li a {
  display: block;
  transition: 0.5s;
}

/* Apply hover effects only on screens larger than 768px */
@media (min-width: 1024px) {
  /* Hover effect: other links fade */
  ul:hover li a {
    opacity: 0.7;
  }

  /* Hover effect: hovered link scales up */
  ul li a:hover {
    color: var(--text-hover);
    transform: scale(1.2);
    opacity: 1;
  }
}

*:focus:not(ol) {
  @apply outline-none ring-2 ring-cyan-400 border-cyan-400;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
